// !=========================================================
// !                    MIXINS
// !=========================================================
@mixin media-xsm {
    @media screen and (min-width: 0px) {
      @content;
    }
  }
  
  @mixin media-sm {
    @media screen and (min-width: 576px) {
      @content;
    }
  }
  
  @mixin media-md {
    @media screen and (min-width: 768px) {
      @content;
    }
  }
  

  @mixin media-lg {
    @media screen and (min-width: 1024px) {
      @content;
    }
  }
  
  @mixin media-xl {
    @media screen and (min-width: 1600px) {
      @content;
    }
  }