@import "../../scss/variables", "../../scss/mixins";

@font-face {
  font-family: spaceGroteskBold;
  src: url(../../assets/fonts/static/SpaceGrotesk-Bold.ttf);
}

@font-face {
  font-family: spaceGroteskMedium;
  src: url(../../assets/fonts/static/SpaceGrotesk-Medium.ttf);
}

.inGameContainer {
  font-family: spaceGroteskBold;
  width: 100vw;
  height: 100vh;
  background-color: $purple;
  text-align: center;
  z-index: 1;
}

.inGameNav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45%;
  margin: auto;
  justify-content: space-between;
  transform: translateY(75%);
}

.inGameContainer h2 {
  font-size: 64px;
}

.inGameContainer p {
  font-size: 24px;
}
.link {
  color: white;
  text-decoration: none;
  font-family: spaceGroteskMedium;
  background-color: $darkPurple;
  padding: 8px 16px;
  border-radius: 5rem;
}

.link:hover {
  color: rgb(218, 216, 216);
}

.BlackBoard,
.WhiteBoard,
.playerOne,
.playerTwo,
.yellowTurn,
.turnText,
.marker,
.inGameFooter,
.winnerBoard {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.playerOne,
.playerTwo {
  background-color: $white;
  padding: 16px 28px;
  border: 2px solid black;
  padding: 2rem 2rem;
  border-radius: 1rem;
  box-shadow: 0px 8px 1px 1px rgba(0, 0, 0, 0.8);
}

.playerOne img,
.playerTwo img {
  position: absolute;
  bottom: 84%;
  left: 30%;
}

.playerOne {
  left: 15%;
}

.playerTwo {
  left: 85%;
}

.yellowTurn {
  top: 86%;
}
.turnText {
  top: 87%;
}

.marker {
  top: 15%;
  left: 650px;
  z-index: 10;
}

.turn p {
  font-size: 20px;
}

.inGameFooter {
  background-color: $darkPurple;
  width: 100%;
  height: 23%;
  top: 88.4%;
  z-index: 1;
}

.inGameFooterRed {
  background-color: $red;
  width: 100%;
  height: 23%;
  top: 88.4%;
  z-index: 1;
}

.inGameFooterBlue {
  background-color: $darkPurple;
  width: 100%;
  height: 23%;
  top: 88.4%;
  z-index: 1;
}

.inGameFooterYellow {
  background-color: $yellow;
  width: 100%;
  height: 23%;
  top: 88.4%;
  z-index: 1;
}

.turn img,
.turnText {
  z-index: 4;
}

.BlackBoard {
  z-index: 3;
}

.WhiteBoard {
  z-index: 5;
}

.board {
  cursor: pointer;
  height: 37.5rem;
  width: 40rem;
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  gap: 21px;
  justify-content: center;
}

.mobileButton {
  z-index: 9;
  width: 67px;
  font-size: 1px;
  background-color: rgba(255, 255, 255, 0);
  border: none;
}

.mobileButton:hover {
  background-color: black;
  opacity: 0.15;
}

.ballDiv:before {
  animation: bounce 1s linear;
}

@keyframes bounce {
  20%,
  50%,
  80%,
  to {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  70% {
    transform: translateY(-15px);
  }
  90% {
    transform: translateY(-4px);
  }
}

.ballClass {
  animation: hop 1s linear;
}

@keyframes hop {
  0%,
  90%,
  to {
    transform: translateY(0px);
  }
  0% {
    transform: translateY(-300px);
  }
  50% {
    transform: translateY(0px);
  }
  70% {
    transform: translateY(-50px);
  }
  90% {
    transform: translateY(-25px);
  }
}

.ballDiv:before {
  content: "";
  position: absolute;
  height: 45px;
  width: 45px;
  left: 11px;
  top: 13px;
  border-radius: 50%;
  border: 4px solid white;
  transition: 2s;
}

.winnerBoard {
  top: 86%;
  z-index: 4;
  background-color: $white;
  padding: 16px 28px;
  border: 2px solid black;
  padding: 5px 3.5rem;
  border-radius: 1rem;
  box-shadow: 0px 8px 1px 1px rgba(0, 0, 0, 0.8);
}

.winnerBoard button {
  background-color: $darkPurple;
  padding: 0.3rem 0.5rem;
  color: $white;
  border-radius: 1rem;
}

.BlackBoard,
.WhiteBoard {
  width: 632px;
  height: 584px;
}

@media screen and (max-width: 1190px) {
  .marker {
    display: none;
  }

  .playerOne {
    left: 20%;
    padding: 1rem 1rem;

    p {
      font-size: 16px;
    }

    h2 {
      font-size: 36px;
    }
  }
  .playerTwo {
    left: 80%;
    padding: 1rem 1rem;
    p {
      font-size: 16px;
    }

    h2 {
      font-size: 36px;
    }
  }
  .board {
    width: 22rem;
    height: 22rem;
  }

  .BlackBoard,
  .WhiteBoard {
    width: 335px;
    height: 310px;
  }

  .board {
    gap: 10px;
  }

  .mobileButton {
    z-index: 9;
    width: 37px;
    height: 300px;
    margin-top: 25px;
  }
}

@media screen and (max-width: 1190px) {
  .playerOne,
  .playerTwo {
    top: 24%;
    left: 37%;
    display: flex;
    justify-content: center;
    gap: 2rem;
    align-items: center;
    width: 10rem;
    border: 2px solid red;

    h2 {
      font-size: 20px;
      margin: 0;
    }

    p {
      margin: 0;
      font-size: 14px;
    }

    img {
      top: 7px;
      left: -20px;
      width: 40px;
    }
  }

  .playerTwo {
    left: 63%;
    margin: 0;
    img {
      left: 135px;
    }
  }

  .turn {
    width: 150x;

    img {
      width: 150px;
    }

    p {
      font-size: 16px;
    }

    h2 {
      font-size: 36px;
    }
  }

  .inGameFooter {
    top: 90%;
  }

  .ballDiv:before {
    content: "";
    position: absolute;
    height: 20px;
    width: 20px;
    left: 10px;
    top: 12px;
    border-radius: 50%;
    border: 2px solid white;
    transition: 2s;
  }

  .marker {
    width: 30px;
    height: 30px;
    display: none;
  }
}
@media screen and (max-height: 820px) {
  .inGameNav {
    transform: translateY(15%);
  }

  .marker {
    top: 11%;
    width: 25px;
  }
}
@media screen and (max-width: 620px) {
  .playerOne,
  .playerTwo {
    top: 12%;
    left: 50%;
    display: flex;
    justify-content: center;
    gap: 2rem;
    align-items: center;
    width: 10rem;
    border: 2px solid red;
    padding: 0.7rem 1rem;

    h2 {
      font-size: 20px;
      margin: 0;
    }

    p {
      margin: 0;
      font-size: 14px;
    }

    img {
      top: 7px;
      left: -20px;
      width: 40px;
    }
  }

  .playerTwo {
    left: 50%;
    margin: 0;
    top: 20%;

    img {
      left: 135px;
    }
  }

  .inGameNav {
    gap: 2rem;
    justify-content: center;
    transform: translateY(10px);
    img {
      width: 50px;
      height: 50px;
    }
  }

  .marker {
    top: 28%;
  }
}

@media screen and (max-width: 620px) {
  .playerOne,
  .playerTwo {
    padding: 0;

    img {
      width: 20px;
      left: -10px;
      top: 2px;
    }
  }

  .playerTwo {
    top: 19%;
  }

  .marker {
    top: 25%;
    width: 20px;
    height: 20px;
  }
}

// @media screen and (m-height: 200px) {
//   .inGameNav {
//     transform: translateY(15%);
//   }

//   .marker {
//     top: 11%;
//     width: 25px;
//   }
// }

@media screen and (max-height: 620px) {
  .playerOne,
  .playerTwo {
    padding: 0;
    top: 20%;

    img {
      width: 25px;
      height: 25px;
      left: -13px;
      top: 1px;
    }
  }

  .marker {
    display: none;
  }
}
